NEXT_PUBLIC_SUPABASE_URL= https://nvqmdzuptfmhzfvuybbk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im52cW1kenVwdGZtaHpmdnV5YmJrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3NTc4NjMsImV4cCI6MjA5MTMzMzg2M30.Bj773LA_uBm3e3zgUtaqNSLrO06zoZjeNEQfisBkB6M
SUPABASE_SERVICE_ROLE_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im52cW1kenVwdGZtaHpmdnV5YmJrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTc1Nzg2MywiZXhwIjoyMDkxMzMzODYzfQ.dcjVTozpDhUcYn9nBdsmYmFBXz3mvh8DaJHoeVjebDk

STRIPE_SECRET_KEY= Sem senha
STRIPE_WEBHOOK_SECRET= Sem senha
NEXT_PUBLIC_SITE_URL= Sem senha

CRON_SECRET= minha-chave-secreta-123
RESEND_API_KEY= re_J4ouKRaL_4dgY1SMwUFyfc53fFZZiFCNd
